<div class="table-responsive">
    <table class="table text-center">
        <thead>
        <tr>
            <th class="text-center">Pseudo</th>
            <th class="text-center">Date de la demande</th>
            <th class="text-center">Recommandé par </th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
       {{#each data.users}}
           <tr>
               <td><a href="/users/view/{{ username }}">{{ username }}</a></td>
               <td>{{ dateFormat requestAt 'DD/MM/YYYY HH:mm' }}</td>
               <td>
                   {{#if recommendedByUsername }}
                       {{ recommendedByUsername }}
                   {{else}}
                       -
                   {{/if}}
               </td>
               <td>
                   {{{ getTemplateBtnFriend ../data._id userId }}}
               </td>
           </tr>
       {{/each}}
        </tbody>
    </table>
</div>