<div class="row">
    <div class="col-xs-2">
        <div class="thumbnail img-responsive">
            <img class="img-responsive user-photo" src="{{ comment.createdBy.avatar }}">
        </div>
    </div>

    <div class="col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ comment.createdBy.name}}</strong>
                <span class="text-muted"> le {{ dateFormat comment.created 'DD/MM/YYYY HH:mm' }}</span>
                {{#xif user.username '==' comment.createdBy.username}}
                    <span>
                    <button type="button" title="supprimer" data-comment-id="{{ comment._id }}" class="remove_comment btn btn-danger pull-right">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
                {{/xif}}

                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {{{ comment.content }}}
            </div>
        </div>
    </div>
</div>