<!DOCTYPE html>
<html>
<head>
    {{#> head-block}}
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
        <title> {{ website }} :: {{ pageTitle }} </title>
        <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
        {{> front/_css}}
        {{{block "style-block"}}}
    {{/head-block}}
</head>
<body>

    <div class="container">
        {{> front/_nav}}
        {{> flash_messages}}
        {{{body}}}
        {{> front/_footer }}
    </div>

    {{#> script-block}}
        {{> front/_script }}
        <script type="application/javascript" src="/js/main.js"></script>
        {{{block "script-block"}}}
    {{/script-block}}
</body>

</html>